ion-content {
  --overflow: hidden;
}

ion-col {
  display: block;
  margin: auto;
}

ion-title {
  text-align: center;
  color: #efb810;
}

ion-img {
  width: 15%;
  display: block;
  margin: auto;
}
