h2 {
  font-size: 25px;
  text-align: center;
  padding: 3px;
}
h3 {
  text-align: center;
  padding: 3px;
}
p {
  font-size: 15px;
  text-align: center;
}
ion-title {
  font-size: 23px;
  text-align: center;
}

ion-img {
  width: 30%;
  display: block;
  margin: auto;
}
