span.green {
  background: #5ea226;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}

ion-content ion-card {
  width: 100%;
  margin: 10px;
}

ion-item {
  --padding-start: 0;
}

span.red {
  background: #f5d033;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}

/* DOES NOT WORK - not specific enough */
ion-loading {
  color: green;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class {
  color: green;
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}

ion-img {
  width: 85%;
  display: block;
  margin: auto;
}

.centrar {
  width: 30%;
  display: block;
  margin: auto;
}

.label-membresiavenc {
  background-color: #ded8f0;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4b2ca6;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}

.label-conlugares {
  background-color: #cfe7ee;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #187e9a;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}

.label-clasellena {
  background-color: #fad0d7;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #e96479;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}

.label-fechaf {
  background-color: #b1e678;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #567419;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}

.imgarrow {
  float: right;
  clear: right;
  width: 10%;
}

.imghorario {
  clear: right;
  width: 5%;
}

.sinclases {
  color: gray;
}

.label-estatus-a {
  background-color: #19b694;
  padding: 2px;
  margin-left: 3px;
  color: #ffffff;
  border-radius: 15px;
  font-size: 11px;
}

.label-estatus-i {
  background-color: #e19e4c;
  padding: 2px;
  margin-left: 3px;
  color: #ffffff;
  border-radius: 15px;
  font-size: 11px;
}
