ion-col {
  display: block;
  margin: auto;
}

.sexo {
  font-size: 15px;
  font-weight: normal;
  color: black;
}

.multas {
  margin-left: 5px;
  background-color: #ffced4;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d0011b;
  border-radius: 15px;
  font-size: 10px;
}

.faltas {
  margin-left: 5px;
  background-color: #f6f7ca;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #a7aa18;
  border-radius: 15px;
  font-size: 10px;
}
